{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a class="link-back" href="/">Back</a>
      <h1 class="heading-large">
        Loader demo with different backgrounds
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <div class="govuk-box govuk-box-highlight" id="govuk-box-highlight"></div>
      <div class="govuk-box govuk-box-inverted" id="govuk-box-inverted"></div>
    </div>
  </div>

</main>

{% endblock %}
