.govuk-c-loader{
  text-align: center;
  position: relative;
  &:focus{
    outline: 3px solid $focus-colour;
  }

  &__spinner{
    z-index: 2000000000;
  }

  &__label{
    display: block;
    padding-bottom: 1em;
    margin-top: -1em;
  }
}
