.govuk-c-loader{
  text-align: center;
  position: relative;
  line-height: 0;
  &:focus{
    outline: 3px solid $focus-colour;
  }

  &__spinner{
    z-index: 2000000000;
  }

  &__label{
    @include core-19($tabular-numbers: true);
    display: block;
    line-height: 1em;
    margin-top: -.5em;
    padding-bottom: 1.5em;
  }
}
